
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */
.clear{
	margin:13px;
}

.view{

overflow:hidden;
text-align:center;
position:relative;

/*x y blur spread color*/
box-shadow:0px 3px 3px 0px #ddd; 

}

.banner-top-opaque{
   height:80px;
   width:100%;
   background-color:rgb(233, 70, 74);
   margin:0px;
   padding:0px;
   position:absolute;
}

.banner-top{
   height:80px;
   width:100%;
   background-color:rgba(233, 70, 74, 0.7);
   margin:0px;
   padding:0px;
   position:fixed;
   z-index: 10; 
}

.banner-top ul{
   /*how to position the nav in line with phomo logo?*/
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position:inherit;
    line-height:80px;
}

/*could also do ul li{}*/
.banner-top li{
   display:inline;
   float:right;
   width:150px;
   height:auto;
}

.banner-top a{
   font-family:"Helvetica", arial, sans-serif;
   font-weight:bold;
   color:#fff;
   text-decoration:none;
   transition-duration:0.5s;
}

.banner-top a:hover{
   /*how to fade out ???*/
   /*transition-duration: 1s;*/
   color:rgba(255,255,255,0.25);
}

.phomo-logo{
   height:50px;
   width:auto;
   margin:10px;
   padding:5px;
   position:absolute;
   z-index: 10;
   line-height:80px;
   transition:0.5s;
}

.phomo-logo:hover{
   transform:translate(40px)
}

/* =============================================================================
   Page Styles
   ========================================================================== */

.big_div{
   height:500px;
   width:auto;
   margin:0px;
   padding:0px;
   background-color:#333;
   opacity:1;
   z-index: 5;
}

.wireframe-pic{
   height:500px;
   width:auto;
   margin:0px;
   padding-top:100px;
   padding-left:50px;
   padding-right:50px;
   overflow:hidden;
   position:absolute;
   z-index: 5;
   transition:0.5s;
}

.wireframe-pic:hover{
   transform: translate(200px) scale(1.4);
   z-index: 10;

}

.background-pic{
   width:100%;
   height:auto;
   overflow:hidden;
   margin:0px;
   z-index: 0;

}

.banner-middle{
   height:80px;
   width:100%;
   background-color:#e9464a;
   margin:0px;
   padding:0px;
   position:absolute;
}

.banner-middle p{
   font-family:"Helvetica", arial, sans-serif;
   color:#fff;
   line-height: 20px;
   padding:20px;
   margin:0px;
   text-align: center;
}

.sign-up-form{
   width:300px;
   height:auto;
   position:absolute;
   left:0;
   top:0;
   z-index: 10;
   border-radius: 20px;
   margin:20px;
   margin-top:100px;
   padding:50px;
   padding-bottom:60px;
   background-color:rgba(233, 70, 74, 0.6);
   color:#fff;
   text-align: center;
   font-family:"Helvetica", arial, sans-serif;
}

/*style the download page completely...it's attached to the div with big_div class*/
.downloadPage{
   width:100%;
   height:auto;
   
}


/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {

.clear{
   margin:0px;
}

}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {

.clear{
	margin:0px;
}

}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {

.clear{
	margin:0px;
}

}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {

.clear{
	margin:0px;
}

}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
